.header{
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px #a8a5a5;
    z-index: 1000;
}
.left-header{
    /* border: 1px solid red; */
    width: 30%;
}
.left-header{
    font-size: 25px;
    font-weight: 600;
}
.right-header{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: end;
}
.right-header ul, a{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}
.right-header ul li{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
